# Entornos virtuales
venv/
.env
#alembic
alembic.ini
/alembic
# Archivos de caché
__pycache__/
*.pyc
*.pyo
*.pyd

# Mypy cache
.mypy_cache/
.dmypy.json
dmypy.json

# Archivos de base de datos
*.db
*.sqlite3

# Archivos de sistema
.DS_Store
*.swp

# Configuración de IDE
.vscode/
.idea/

# Archivos generados por el sistema
*.log
*.tmp
*.bak

# Otros archivos específicos del proyecto
*.env
*.secret
